.sync-thumbnail {
    width: calc(100% + 2rem);
    height: 150px;
    background: #6b6b6b;
    background-size: cover;
    background-position: center;
    margin: -1rem;
    margin-bottom: 0;
    position: relative;
}

.sync-thumbnail-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.sync-nav-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 0;
}

.sync-back-button {
    margin-left: -0.5rem;
}

.sync-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.sync-discord-item {
    display: flex;
    align-items: center;
}

.sync-current-time {
    font-size: 0.7rem;
}

.sync-checklist-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.sync-offset-row {
    display: flex;
    align-items: center;
}

.sync-offset-row > .offset {
    margin-right: 0.5rem;
}

.sync-offset-row > input {
    width: 100px;
    margin-right: 0.5rem;
}
